version: "3.8"

services:
  nats:
    image: nats:latest
    container_name: nats-server
    ports:
      - "4222:4222" # Client connections
      - "8222:8222" # HTTP monitoring
      - "6222:6222" # Cluster connections
    command: "-js -m 8222" # Enable JetStream and monitoring
    networks:
      - nats-network

  producer-api:
    build:
      context: ./ProducerAPI
      dockerfile: Dockerfile
    container_name: producer-api
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - NATS_URL=nats://nats:4222
      - ASPNETCORE_URLS=http://0.0.0.0:8080
    depends_on:
      - nats
    networks:
      - nats-network
  consumer-api:
    build:
      context: ./ConsumerAPI
      dockerfile: Dockerfile
    container_name: consumer-api
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - NATS_URL=nats://nats:4222
    depends_on:
      - nats
    networks:
      - nats-network

  # k6-load:
  #   image: grafana/k6:latest
  #   container_name: k6-load-1
  #   volumes:
  #     - ./ProducerAPI/load-test.js:/scripts/load-test.js
  #   networks:
  #     - nats-network
  #   depends_on:
  #     producer-api:
  #       condition: service_healthy
  #   entrypoint: ["k6", "run", "/scripts/load-test.js"]

networks:
  nats-network:
    driver: bridge
